body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 4%;
}
img {
  max-width: 100%;
}
nav ul {
  display: contents;
}
nav li {
  display: contents;
}
nav {
  display: flex;
  margin-bottom: 1%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
a.current {
  border-bottom-width: 0.4em;
  border-bottom-color: oklch(80% 3% 200);
  border-bottom-style: solid;
  padding-bottom: 0.5em;
}
html {
    --color-accent: oklch(57.547% 0.12569 239.935);
    accent-color: var(--color-accent);
}
nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}
form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}
label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}
button {
    grid-column: 1 / -1;
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1.3em;
}
.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}
.projects article h2 {
    margin: 0;
}
h1 {
    font-size: 400%;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}
section {
    border-top: 1px solid oklch(80% 3% 200);
    padding-top: 1em;
    margin-top: 1em;
}
article header {
    display: flex;
    justify-content: space-between;
}
h2 {
    font-size: 1.3em;
    color: var(--color-accent);
}
h3 {
    font-size: 1em;
    margin-bottom: 0;
}
body > p {
    color: oklch(50% 0% 0);
    font-size: 0.9em;
}

:root {
  color-scheme: light dark;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 80%;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#profile-stats dt {
  grid-row: 1;
  text-transform: uppercase;
  color: gray;
  font-size: 0.8rem;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
  font-size: 2rem;
}

.project-year {
  font-family: inherit;
  color: gray;
  margin-top: 0.25em;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  padding: 1em;
  margin-block: 1em 2em;
  border: 1px solid oklch(80% 3% 200);
  list-style: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  display: inline-block;
  width: 1em;
  aspect-ratio: 1;
  background-color: var(--color);
  border-radius: 50%;
}
